<% gamechoice = ["rock", "paper", "scissors"].sample %>
<% if gamechoice == "paper" %>
    <h2>We played paper!</h2>
    <h2>They played rock!</h2>
    <h2>We won!</h2>
<% elsif gamechoice == "scissors" %>
    <h2>We played paper!</h2>
    <h2>They played scissors!</h2>
    <h2>We lost!</h2>
<% elsif gamechoice == "rock" %>
    <h2>We played paper!</h2>
    <h2>They played paper!</h2>
    <h2>We tied!</h2>
<% end %>


<a href="/">Rules</a>
